{% extends "store/base.html" %}

{% block title %}Bike Store{% endblock %}

{% block content %}
    <h1>Awesome Bike Store</h1>
    <hr>
    {% if not spare_parts %}
        <p>No spare parts available</p>
    {% else %}
        {% for spare_part in spare_parts %}
            <ul>
                <li><a href="{{ spare_part.id }}">{{ spare_part.name }}</a> @ {{ spare_part.brand }}</li>
            </ul>
        {% endfor %}
    {% endif %}
    {% include "store/pagination.html" with page=spare_parts %}
    <hr>
    <div>
        <a href="/store/new/">Add new spare part...</a>
    </div>
{% endblock %}