{% extends "store/base.html" %}

{% block title %}Bike Store{% endblock %}

{% block content %}
    <h1>Available Offers</h1>
    <form method="GET" action="">
        <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search for spare parts"/>
        <input type="submit" value="Search">
    </form>
    <hr>
    {% if not spare_parts %}
        <p>No spare parts available</p>
    {% else %}
        {% for spare_part in spare_parts %}
            <ul>
                <li><a href="{{ spare_part.id }}">{{ spare_part.name }}</a> @ {{ spare_part.brand }}</li>
            </ul>
        {% endfor %}
    {% endif %}
    {% include "store/pagination.html" with page=spare_parts %}
    <hr>
    <div><a href="{% url 'store:new' %}">Add new spare part</a></div>
    <div><a href="{% url 'store:statistics' %}">View top brands</a></div>
{% endblock %}