{% extends "store/base.html" %}

{% block title %}Top Brands{% endblock %}

{% block content %}
    <h1>Top brands</h1>
    {% if not brands %}
    <p>No brands available</p>
    {% endif %}
    {% for brand in brands %}
        <h2>{{ brand.name }}</h2>
        <ul>
            {% for spare_part in brand.sparepart_set.all|slice:":10" %}
                <li><a href="{% url 'store:spare_part_detail' spare_part=spare_part.id %}">{{ spare_part.name }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}